.site-footer{
  padding-top: 30px;
  .columns{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
    background-image: url("../images/footer-image.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto;
    @media(max-width: 767px){
      grid-template-columns: repeat(2,1fr);
      row-gap: 20px;
    }
    @media(max-width: $mobile){
      grid-template-columns: 1fr;
      row-gap: 0;
    }
    .column{
      padding-top: 40px;
      &:first-child{
        padding-top: 0;
      }
      .logo-image{
        width: 192px;
        height: 81px;
        margin-bottom: 26px;
        @media (max-width: $mobile) {
          width: 131px;
          height: 59px;
        }
      }
      .row{
        margin-bottom: 20px;
        h3{
          color:$title_color;
          font-weight: 300;
          font-size: 32px;
          line-height: 40px;
          margin: 0 0 10px;
          @media(max-width: $laptop){
            font-size: 24px;
            line-height: 32px;
          }
        }
        a,li,p{
          text-decoration: none;
          color:$text-color;
          font-size: 20px;
          font-weight: 400;
          @media(max-width: 1200px){
            font-size: 16px;
            line-height: 24px;
          }
        }
        .menu,.services{
          list-style: none;
          padding-left: 0;
          &-item{
            margin-top: 10px;
          }
          &-item:first-child{
            margin-top: 0;
          }
        }
      }

      .form-request{
        margin-top: 40px;
        background-color: transparent;
        display: block;
        width: 300px;
        height: 70px;
        font-size: 20px;
        font-weight: 600;
        color:$title_color;
        border: 1px solid $title_color;
        cursor: pointer;
        transition: background-color ease-in-out 0.1s;
        @media(max-width: $mobile){
          margin-top: 20px;
        }
        &:hover{
          color:#000;
          background-color: $title_color;
          border: 1px solid #000;
        }
        &:active{
          color:#000;
          background-color: #FFB800;
          border: 1px solid #000;
        }
        @media(max-width: $laptop){
          font-size: 15px;
          width: 200px;
          height: 52px;
        }
      }
    }
  }
  .site-info{
    margin-top: 30px;
    border-top: 2px solid $title_color;
    font-size: 20px;
    line-height: 1;
    @media(max-width: $laptop){
      font-size: 15px;
    }
    @media(max-width: $mobile){
      font-size: 12px;
    }
  }

}
