.site-header {
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media(max-width: $laptop){
    align-items: flex-start;
  }
  .logo-link {
    text-decoration: none;
  }

  @media(max-width: $laptop) {
    .logo-image {
      max-width: 190px;
      height: 80px;
    }
  }

  .slogan {
    color: $title_color;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-transform: uppercase;
    margin: 0;
    @media(max-width: $laptop) {
      margin: 15px 0 0;
      font-size: 16px;
    }
    @media(max-width: $mobile) {
      margin: 5px 0 0;
      font-size: 14px;
    }
  }

  .menu-toggle {
    display: none;
    @media (max-width: $laptop) {
      display: block;
      text-align: end;
      margin-top: 15px;
      img{
        width: 60px;
      }
    }

    img {
      @media (max-width: $mobile) {
        width: 50px;
        height: 40px;
      }
    }
  }
  .menu-menu-1-container.active{
    opacity: 1;
    z-index: 1;
  }
  .menu-menu-1-container {
    position: relative;
    @media(max-width: $laptop){
      opacity: 0;
      z-index: -1;
      position: relative;
      transition: opacity ease-in-out 0.3s;
    }
  }

  #primary-menu {
    display: flex;
    column-gap: 25px;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    @media(max-width: $laptop) {
      background-color: #000;
      z-index: 2;
      position: absolute;
      padding: 20px;
      right: -35px;
      top: 35px;
      flex-direction: column;
      row-gap: 35px;
      width: max-content;
      overflow: hidden;
      text-align: center;
    }

    @media(max-width: $mobile) {
      row-gap: 20px;
      right: -15px;
    }

    .menu-item a {
      color: $title_color;
      text-decoration: none;
      font-size: 24px;
      font-weight: 400;
      line-height: 1;
      @media(max-width: $mobile) {
        font-size: 20px;
        line-height: 1.2;
      }
    }
  }
}
.social-icons{
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: 20px;
  @media (max-width: $laptop) {
    display: none;
  }
}
.social-icons-mobile{
  display: none;
  margin-top: 15px;
  @media (max-width: $laptop){
    display: block;
  }
  .social-icons{
    @media (max-width: $laptop) {
      display: flex;
      margin-top: 0;
    }
    @media(max-width:$mobile){
      img{
        width: 35px;
        height: 35px;
      }
    }
  }
}

.video-wrapper{
  height: 90vh;
  width: 100%;
  overflow: hidden;
  @media (max-width: $laptop) {
    height: 60vh;
  }
  @media (max-width: $mobile) {
    height: 40vh;
  }
  video{
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
}