*{
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container{
  max-width: $container;
  width: 100%;
  margin: 0 auto;
  @media(max-width: 1200px){
    max-width: 95%;
  }
  @media(max-width: $laptop){
    padding: 0 35px;
    max-width: 100%;
  }
  @media(max-width: 640px){
    padding: 0 15px;
  }
}

body{
  background-color: $body_bg_color;
  font-family: $default_font;
  color:$text-color;
}

iframe{
  height: 85vh;
}

.pum-content .wpcf7{
  margin: 0 auto;
}

.pum-container{
  background-image: url("../images/footer-image.png");
}

.wpcf7{
  *{
    max-width: 100%;
    width: 100%;
  }
  width: max-content;
  padding: 38px 12px 14px;
  border: 2px solid $title_color;
  border-radius: 20px ;
  min-width: 490px;
  @media(max-width: $laptop){
    min-width: 0;
  }
  .form-title{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    background-color: #0c0c0c;
    color: $title_color;
    border-radius: 20px;
    padding: 15px;
  }

  input,textarea{
    max-width: 100%!important;
    width: 100%;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: rgba(255,255,255,50%);
    color: #000;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    border: none;
    margin-bottom: 15px;

    &:-webkit-autofill{
      transition: all 5000s ease-in-out;
    }
    &::placeholder{
      color: #000;
    }
  }

  .form_submit{
    background-color: $title_color;
    padding: 15px;
    border-radius: 20px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    &:active{
      background-color: #FFB800;
    }
  }

  .wpcf7-submit{
    margin-bottom: 0;
  }
  .form-title{
    margin-top: 0;
  }
  p{
    margin: 0;
  }
}
.form-popUp.active{
  z-index: 10;
  opacity: 1;
}
.form-popUp{
  opacity: 0;
  z-index:-1;
  background-color: rgba( 9, 10, 5, 0.94 );
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .3s ease-in-out;
  position: fixed;
  .wrapper{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .container{
    height: 100%;
    *{
      max-width: 100%;
    }
  }
  .form-box{
    position: absolute;
    top:50%;
    left:50%;
    width: 100%;
    padding: 10px;
    background-image: url("../images/contacts.webp");
    box-sizing: content-box;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(-50%,-50%);
    max-width: 490px;
    @media(max-width: $laptop){
      max-width: 100%;
      width: max-content;
    }
    *{
      max-width: 100%;
    }
    .close-button{
      position: absolute;
      right: -14px;
      top: -14px;
      padding: 20px;
      font-size: 36px;
      color: #000;
      background-color: #B8B8B7;
      border-radius: 180px;
      cursor: pointer;
      @media (max-width: $mobile) {
        right: 0px;
        top: -10px;
      }
      &::after{
        content: "+";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
      }

    }
  }
  .wpcf7{

  }
}

section:not(.banner-image.desktop){
  padding: 60px 0;
  @media (max-width: $mobile) {
    padding: 30px 0;
  }
}

