.about {
  p {
    font-size: 32px;
    margin: 0 auto;
    @media(max-width: 1440px) {
      font-size: 24px;
    }
    @media(max-width: $laptop) {
      font-size: 22px;
    }
    @media(max-width: $mobile) {
      font-size: 14px;
    }

    img {
      float: right;
      width: 30%;
      margin: 0 20px 40px;
      @media(max-width: 1440px) {
        width: 45%;
        margin: 0 20px 20px;
      }
    }

    strong {
      color: $title_color;
    }
  }
}