.advantages {
  &-title {
    text-align: center;
    font-family: $extra_font;
    color: $title_color;
    font-size: 36px;
    line-height: 1.3;
    font-style: italic;
    font-weight: 400;
    max-width: 39%;
    margin: 0 auto;
    @media(max-width: 1200px) {
      max-width: 70%;
    }
    @media(max-width: $laptop) {
      margin-bottom: 40px;
    }
    @media(max-width: $mobile) {
      font-size: 26px;
    }
  }

  &-sub_title {
    font-size: 40px;
    color: $title_color;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 60px;
    @media(max-width: $laptop) {
      display: none;
    }
  }

  &-wrapper {
    .wrapper {
      padding: 60px 20px 60px 60px;
      border-right: 2px solid $title_color;
      height: 100%;
      display: flex;
      align-items: center;
      @media(max-width: $mobile) {
        padding: 50px 20px 30px 25px;
      }
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;

    &-item {
      position: relative;
      width: calc(50% - 15px);
      display: grid !important;
      grid-template-columns: 3fr 1fr;
      align-items: center;
      background-color: #222121;
      @media(max-width: $laptop) {
        width: 100%;
        grid-template-columns: 4fr 1fr;
      }
      @media(max-width: $mobile) {
        grid-template-columns: 3fr 1fr;
        margin: 0 5px;
      }

      .description {
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 18px;
        color: $title_color;
      }

      .content {
        font-size: 26px;
        line-height: 1.6;
        font-weight: 400;
        @media(max-width: 1200px) {
          font-size: 24px;
        }
        @media(max-width: $laptop) {
          font-size: 22px;
        }
        @media(max-width: $mobile) {
          font-size: 16px;
        }

        strong {
          color: $title_color;
        }
      }

      .counter {
        text-align: center;
        font-size: 64px;
        color: $title_color;
        @media(max-width: 1200px) {
          font-size: 48px;
        }
        @media(max-width: $mobile) {
          font-size: 36px;
        }
      }
    }
  }
}

.slick-dots {
  bottom: -40px;
}

.slick-dots li button:before {
  color: $text_color;
  font-size: 40px;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: $title_color;
}

.slick-track{
  min-height: fit-content;
  height: 100%;
}