.banner-image{
  overflow: hidden;
  *{
    max-width: 100%;
  }
  @media(max-width: $laptop){
    padding: 120px 0;
    .desktop img{
      transform: scale(1.5);
    }
  }
  @media(max-width: $mobile){
    padding: 75px 0;
  }
  .desktop{
    @media (max-width: $mobile) {
      display: none;
    }
  }
  .mobile{
    @media (min-width: 641px) {
      display: none;
    }
    @media (max-width: $mobile) {
      img{
        transform: scale(1.7);
      }
    }
  }
  img{
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}