.services-content{
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  margin: 0 auto;
  column-gap: 50px;
  max-width: 100%;
  .services-image.mobile{
    display: none;
  }
  @media(max-width: 1360px){
    .services-image{
      max-width: 300px;
      height: auto;
    }

  }
  @media(max-width: 1200px) {
    flex-direction: row;
    row-gap: 25px;
    column-gap: 30px;

    @media(max-width: $laptop) {
      .services-image:first-child {
        display: none;
      }
    }
  }

  @media (max-width: $mobile) {
    .services-image{
      max-height: 95px;
      max-width: 105px;
      min-width: auto;
    }
    .services-image:last-child{
      display: none;
    }
    .services-image.mobile{
      display: block;
    }
  }

  .services-title{
    color: $title_color;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 20px 0;
    @media (max-width: $mobile) {
      font-size: 24px;
      margin: 0;
    }
  }
  .services-items{
    list-style: none;
    padding-left: 0;
    .service{
      font-size: 24px;
      font-weight: 400;
      line-height: 1.4;
      @media(max-width: 1200px) {
        font-size: 18px;
      }
      @media (max-width: $mobile) {
        font-size: 16px;
      }
    }
  }

  .wrapper{
    @media (max-width: $mobile) {
      display: flex;
      align-items: flex-end;
      column-gap: 15px;
    }
  }

}