.statistic{
  &-wrapper{
    border-top: 1px solid $title_color;
    border-bottom: 1px solid $title_color;
    padding: 35px 0 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 35px;
    @media(max-width: $laptop){
      border: none;
      padding: 0;
      row-gap: 30px;
      column-gap: 30px;
    }
  }
  &-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222121;
    padding: 20px 40px;
    border-radius: 20px;
    border: 1px solid $title_color;
    box-shadow: 0px -15px 20px -10px rgba(255,207,35,1);
    @media(max-width: $mobile){
      width: 100%;
    }
    p{
      padding: 0;
      margin: 0;
    }
    &-number{
      font-size: 32px;
      font-weight: 700;
      line-height: 1.2;
      &::after{
        content: '+';
        color: $title_color;
        margin-left: 10px;
        font-size: 24px;
      }
    }
    &-name{
      font-size: 16px;
      font-weight: 400;
      line-height: 1.4;
    }
  }
}