.timeline{
  &-title {
    text-align: center;
    color: $title_color;
    font-size: 40px;
    line-height: 1;
    font-weight: 400;
    max-width: 39%;
    margin: 0 auto 50px;
    @media(max-width: 1200px) {
      max-width: 70%;
    }
    @media(max-width: $laptop) {
      margin-bottom: 40px;
    }
    @media(max-width: $mobile) {
      font-size: 26px;
      margin: 0 auto 15px;
    }
  }
  &-banner{
    max-width: 100%;
    height: auto;
  }
  &-blocks{
    margin-top: 50px;
    padding-left: 50px;
    .block-title{
      position: relative;
      margin: 0;
      font-size: 32px;
      color:$title_color;
      line-height: 1.3;
      padding: 5px 0;
      @media(max-width: $laptop){
        font-size: 26px;
      }
      @media(max-width: $mobile){
        font-size: 18px;
      }
      &::before{
        content: '';
        color:$title_color;
        font-size: 72px;
        position: absolute;
        display: block;
        width: 20px;
        height: 100%;
        left: -50px;
        top: 50%;
        background-image: url("../images/Ellipse-title.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        transform: translate(-50%,-50%);
        @media (max-width: $mobile) {
          left: -30px;
        }
      }
    }
    .block-content{
      padding: 10px 0;
      position: relative;
      font-size: 24px;
      @media(max-width: $laptop){
        font-size: 20px;
      }
      @media(max-width: $mobile){
        font-size: 14px;
      }
      *{
        font-size: inherit;
      }
      &::before{
        content: '';
        color:$title_color;
        position: absolute;
        display: block;
        width: 5px;
        height: 100%;
        left: -50px;
        top: 50%;
        background-image: url("../images/Ellipse-content.svg");
        background-size: cover;
        background-repeat: repeat-y;
        background-position: center top;
        transform: translate(-50%,-50%);
        @media (max-width: $mobile) {
          left: -30px;
        }
      }
      p{
        margin: 0;
      }
      ul{
        list-style: disc;
      }
    }
  }

}