.work{
  max-width: 100%;
  *{max-width: 100%}
  margin-top: 150px;
  &:first-child{
    margin-top: 0;
  }
  @media(max-width: 740px){
    margin-top: 50px;
  }
  &-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color:$title_color;
    margin: 0 0 20px 0;
    @media(max-width: $mobile){
      font-size: 20px;
    }
  }
  &-link{
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    margin: 0 0 60px 0;
    @media(max-width: $mobile){
      font-size: 16px;
      margin: 0 0 20px 0;
    }
  }
  &-gallery{
    display: flex;
    flex-wrap: wrap;
    column-gap: 65px;
    justify-content: center;
    @media(max-width: 740px){
      img{
        margin-top: 20px !important;
      }

    }
  }
  &:nth-child(2n-1){
    .work-gallery{
      img:nth-child(2n-1){
        margin-top: 100px;
      }
    }
  }
  &:nth-child(2n){
    .work-gallery{
      img:nth-child(2n){
        margin-top: 100px;
      }
      @media(max-width: 1084px){
        img:nth-child(1n+2){
          margin-top: 100px;
        }
      }
    }
  }
}

.works-wrapper{
  overflow-x: hidden;
}