.contacts{
  *{
    max-width: 100%;
  }
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 250px 0;
  @media(max-width: 1200px){
    padding: 175px 0;
  }
  @media(max-width: $laptop){
    padding: 125px 0;
  }
  @media(max-width: $mobile){
    padding: 50px 0;
  }
  .wrapper{
    column-gap: 200px;
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
    @media(max-width: 1200px){
      column-gap: 50px;
    }
    @media(max-width: $laptop){
      column-gap: 20px;
      justify-content: space-between;
    }
    @media(max-width: 767px){
      flex-direction: column-reverse;
      row-gap: 50px;
    }
  }
  &-info{
    width: max-content;
    justify-self: end;
    @media(max-width: $laptop){
      max-width: 35%;
    }
    @media(max-width: 767px){
      max-width: 100%;
    }
    &-title{
      color:$title_color;
      font-size: 40px;
      font-weight: 700;
      line-height: 54px;
      position: relative;
      margin-bottom: 48px;
      margin-top: 0;
      width: max-content;
      @media (max-width: 1200px) {
        margin-bottom: 50px;
      }
      @media (max-width: $laptop) {
        font-size: 32px;
        line-height: 43px;
      }
      @media (max-width: $mobile) {
        font-size: 24px;
        line-height: 20px;
      }
      &::after{
        content: '';
        position: absolute;
        display: block;
        left:0;
        bottom:-18px;
        width: 45%;
        border-bottom: 2px solid $title_color;
      }
    }
    .row{
      display: flex;
      flex-wrap: wrap;
      column-gap: 70px;
      align-items: center;
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0;
      }
      @media(max-width: 1200px){
        column-gap: 53px;
      }
      @media(max-width: $laptop){
        column-gap: 33px;
        margin-bottom: 20px;
      }
      @media(max-width: $mobile){
        column-gap: 15px;
        margin-bottom: 15px;
      }
      a,p{
        text-decoration: none;
        color: $text-color;
        font-size: 20px;
        font-weight: 400;
        height: 27px;
        margin: 0;
        @media ( max-width: $laptop){
          max-width: 75%;
        }
        @media (max-width: 767px) {
          max-width: 100%;
          font-size: 16px;
          line-height: 1.2;
        }
      }
    }

  }
}